 @font-face {
     font-family: light;
     src: url(./aeonika-font);
 }
 
 :root {
     --pri: rgb(42, 75, 116);
     --sec: black;
     --tri1: #DCCCAC;
     --tri2: #FFF8EC;
 }
 
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 
 html,
 body {
     height: 100%;
     width: 100%;
 }
 
 #main {
     height: 100%;
     width: 100%;
     background-color: darkslategray;
     background-color: var(--pri);
 }
 
 nav {
     position: fixed;
     width: 100%;
     height: 60px;
     background-color: var(--sec);
 }
 
 section.allElems {
     height: 100%;
     width: 100%;
     padding: 40px;
     padding-top: 80px;
     display: flex;
     flex-wrap: wrap;
     align-items: flex-start;
     gap: 20px;
     /* position: absolute; */
 }
 
 .elem {
     height: 300px;
     width: 280px;
     /* background: conic-gradient(var(--pri), var(--sec), var(--pri)); */
     font-size: 16px;
     border-radius: 10px;
     overflow: hidden;
     position: relative;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 
 .elem img {
     opacity: 0.85;
     border-radius: 15px;
     height: 100%;
     width: 100%;
 }
 
 .elem h2 {
     color: var(--tri2);
     position: absolute;
     right: 5%;
     bottom: 5%;
 }
 
 .elem:active {
     scale: 0.97;
 }
 
 .fullElem {
     position: fixed;
     display: none;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
     background-color: var(--pri);
     padding: 40px;
     font-size: 60px;
     z-index: 100;
 }